.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11rem 0 19rem;
    width: 90%;
    max-width: 140rem;
    margin: 0 auto;
    h1{
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 10rem;
        color: var(--medium-blue);
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }
    .logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4.5rem;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 5rem 0 10rem;
        h1 {
            font-size: 2rem;
            margin-bottom: 5rem;
        }
        .logos {
            gap: 2.5rem;
        }
    }
}

@media (max-width: 700px) {
    .container {
        padding: 5.7rem 0 6rem;
        h1 {
            font-size: 1.8rem;
            margin-bottom: 4.5rem;
        }
        .logos {
            gap: 3.5rem;
        }
        img{
            zoom: 0.7;
        }
    }
}
