.destaques {
  width: 100%;
  padding: 7rem 10rem 0;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 800;
  color: var(--dark-blue);
  text-transform: uppercase;
  margin-bottom: 6rem;
  text-align: center;
}

.container {
  max-width: 1400px;
  width: 100%;
}

.swiper {
  width: 100%;
  padding-bottom: 7rem !important;
}

.slide {
  display: flex;
  justify-content: center;
  cursor: grab;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.destaques :global(.swiper-pagination-bullet) {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  opacity: 1;
  transition: all 0.3s ease;
}

.destaques :global(.swiper-pagination-bullet-active) {
  background-color: var(--dark-blue);
}

/* Mobile Responsiveness */
@media (max-width: 1200px) {
  .destaques {
    padding: 8rem 3rem 0;
  }

  .title {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 4rem;
  }

  .card {
    max-width: 90%;
  }
}

@media (max-width: 700px) {
  .destaques {
    padding: 4.6rem 2rem 0;
  }

  .title {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;
  }

  .card {
    max-width: 90%;
  }

  .swiper {
    padding-bottom: 5rem !important;
  }
}
