.footer {
  background-color: var(--background-secondary, #191a32);
  width: 100%;
  color: var(--white, #ffffff);
  padding: 9rem 10rem 6rem;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.locationsGrid {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.location {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.locationInfo {
  display: flex;
  flex-direction: column;
}

.locationTitle {
  color: var(--yellow, #f8bb00);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.locationText {
  font-size: 1.9rem;
  line-height: 2.9rem;
  color: var(--white, #ffffff);
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.locationText:last-child {
  margin-bottom: 0;
}

.locationMap {
  margin-top: auto;
  width: 100%;
  height: 30rem;
  border: 0;
  border-radius: 20px;
  display: block;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logoContainer {
  width: 40rem;
}

.logoContainer a {
  display: block;
  width: 100%;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.socialAndCredits {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 4rem;
}

.socialIcons {
  display: flex;
  gap: 2rem;
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.socialIcons a:hover {
  opacity: 0.85;
}

.socialIcons svg {
  width: 5rem;
  height: 5rem;
}

.credits {
  font-size: 1.8rem;
  color: var(--white, #ffffff);
  font-weight: 400;
  letter-spacing: 0.4px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 5rem 5rem 4rem 5rem;
  }
  .locationsGrid {
    flex-wrap: wrap;
  }
  .location {
    min-width: 28rem;
  }
  .container {
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 7rem 2.2rem 2rem 2.2rem;
  }
  .locationsGrid {
    flex-direction: column;
    gap: 4.5rem;
  }
  .container {
    gap: 4rem;
  }
  .locationMap {
    height: 24rem;
  }
  .bottomSection {
    flex-direction: column;
    align-items: center;
    gap: 4.4rem;
  }
  .socialAndCredits {
    width: 100%;
    align-items: center;
    gap: 3rem;
  }
  .locationTitle {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
  }
  .locationText {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }
  .credits {
    font-size: 1.4rem;
  }
  .socialIcons svg {
    width: 4rem;
    height: 4rem;
  }
  .logoContainer {
    width: 23rem;
  }
}
