.hero{
    position: relative;
    aspect-ratio: 1440/600;
    max-height: 65vh;
    width: 100%;
    .heroImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }
    .heroBox{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.3rem;
        color: var(--white);
        z-index: 2;
        background: linear-gradient(304.81deg, rgba(25, 26, 50, 0.8) 4.82%, rgba(0, 51, 64, 0.8) 65.01%, rgba(248, 187, 0, 0.2) 114.13%);
        border-radius: 30px;
        padding: 10rem 7rem 8.5rem 5rem;
        max-width: 51rem;
        left: 10rem;
        top: 50%;
        transform: translateY(-50%);
        p{
            font-size: 2.4rem;
            line-height: 2.4rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: left;
        }
    }
}

.tradicao{
    padding: 0rem 0 0;
    width: 85%;
    max-width: 1240px;
    margin: 16rem auto 0;
    position: relative;
    .tradicaoUp{
        position: absolute;
        top: -95px;
        right: -17px;
        width: 218px;
        height: 140px;
    }
    .tradicaoContent{
        display: flex;
        align-items: stretch;
        gap: 4rem;
        border-radius: 30px;
        justify-content: space-between;
        background: linear-gradient(108.2deg, #003340 1.18%, #003340 20.84%, #191A32 66.16%);
        .tradicaoText{
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 3rem;
            padding-left: 6em;
            justify-content: center;
            h2{
                font-size: 3rem;
                line-height: 1.2;
                font-weight: 700;
                letter-spacing: 0.8px;
                color: var(--white);
                text-align: left;
                width: 52rem;
            }
            .textHighlight{
                color: var(--yellow);
            }
            p{
                font-size: 2.2rem;
                line-height: 1.5;
                font-weight: 400;
                letter-spacing: 0.4px;
                color: var(--white);
                text-align: left;
                max-width: 56rem;
            }
            a{
                align-self: flex-start;
            }
        }
        .tradicaoImage{
            display: flex;
            img{
                height: 100%;
                width: auto;
                object-fit: cover;
            }
        }
    }
}

.escolher{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9rem;
    padding: 12rem 0 0;
    .escolherTitle{
        h2{
            font-size: 4rem;
            line-height: 4rem;
            font-weight: 800;
            color: var(--medium-blue);
        }
    }
    .escolherGrid{
        display: flex;
        gap: 11rem;
        justify-content: center;
        .escolherCard{
            display: grid;
            grid-template-rows: 105px auto auto;
            gap: 3rem;
            width: 28rem;
            img{
                height: 90px;
                width: auto;
                align-self: end;
                justify-self: start;
            }
            .escolherCardText{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2.5rem;
                h4{
                    font-size: 2.4rem;
                    line-height: 2rem;
                    font-weight: 800;
                    text-align: left;
                    color: var(--dark-blue);
                    text-transform: uppercase
                }
                p{
                    font-size: 2rem;
                    line-height: 2.6rem;
                    font-weight: 400;
                    color: var(--dark-blue);
                    text-align: left;
                }
            }
        }
    }
}

.unidades{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
    padding: 10rem 5rem;
    background-color: #eaeae6;
    border-radius: 60px 60px 0 0;
    width: 100%;
    .unidadesTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        h2{
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 800;
            letter-spacing: 0.1px;
            text-align: center;
            text-transform: uppercase;
            color: var(--yellow);
        }
        p{
            font-size: 4.2rem;
            line-height: 4.2rem;
            font-weight: 800;
            text-align: center;
            color: var(--medium-blue);
        }
    }
    .unidadesContent{
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        .unidadesCard{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40rem;
            position: relative;
            .unidadesCardText{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;
                background-color: var(--dark-blue);
                width: 100%;
                height: 27rem;
                border-radius: 0 0 20px 20px;
                padding: 5.8rem 3rem 3.8rem;
                p{
                    font-size: 1.9rem;
                    line-height: 2.9rem;
                    font-weight: 500;
                    letter-spacing: 0.1px;
                    width: 30rem;
                    color: var(--white);
                    text-align: left;
                }
                .cardIcons{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
            }
        }
    }
    button{
        position: absolute;
        left: 3rem;
        top: 324px;
        pointer-events: none;
    }
}

.preFooter{
    position: relative;
    width: 100%;
    aspect-ratio: 144/50;
    .preFooterImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }
    .preFooterMobile{
        display: none;
    }
    .preFooterText{
        position: absolute;
        color: var(--white);
        z-index: 2;
        max-width: 84rem;
        left: 10rem;
        top: 50%;
        transform: translateY(-50%);
        h2{
            font-size: 4.2rem;
            line-height: 4.8rem;
            font-weight: 700;
            letter-spacing: 0.8px;
            text-align: left;
        }
    }
}

/* Mobile Responsiveness */
@media (max-width: 1200px) {
    .hero {
        aspect-ratio: 1/1;
        max-height: none;
        .heroBox {
            left: 2rem;
            right: 2rem;
            max-width: calc(100% - 4rem);
            padding: 4rem 3rem;
            gap: 2rem;
            p {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }
    }

    .tradicao {
        padding: 8rem 0 0;
        width: 95%;
        
        .tradicaoContent {
            flex-direction: column;
            gap: 3rem;
            .tradicaoText {
                padding-left: 3rem;
                padding-right: 3rem;
                padding-top: 3rem;
                h2 {
                    font-size: 2.4rem;
                    width: 100%;
                }
                p {
                    font-size: 1.6rem;
                    width: 100%;
                }
            }
            .tradicaoImage {
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 0 0 30px 30px;
                }
            }
        }
    }

    .escolher {
        padding: 6rem 2rem 0;
        gap: 4rem;
        .escolherTitle h2 {
            font-size: 2.4rem;
            line-height: 3rem;
        }
        .escolherGrid {
            flex-direction: column;
            gap: 4rem;
            .escolherCard {
                width: 100%;
                gap: 3rem;
                .escolherCardText {
                    gap: 1.5rem;
                    h4 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                    }
                }
            }
        }
    }

    .unidades {
        padding: 6rem 2rem;
        gap: 4rem;
        border-radius: 30px 30px 0 0;
        .unidadesTitle {
            gap: 1rem;
            h2 {
                font-size: 1.6rem;
            }
            p {
                font-size: 2.4rem;
                line-height: 3rem;
            }
        }
        .unidadesContent {
            flex-direction: column;
            gap: 3rem;
            width: 100%;
            .unidadesCard {
                width: 100%;
                max-width: 35rem;
                .unidadesCardText {
                    padding: 4rem 2rem 3rem;
                    height: auto;
                    min-height: 22rem;
                    p {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        width: 100%;
                    }
                }
            }
        }
        button {
            left: 2rem;
            top: 280px;
        }
    }

    .preFooter {
        aspect-ratio: 1/1;
        .preFooterText {
            left: 2rem;
            right: 2rem;
            max-width: calc(100% - 4rem);
            h2 {
                font-size: 2.4rem;
                line-height: 3rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .hero {
        aspect-ratio: 36/40;
        .heroBox {
            left: 50%;
            top: 50%;
            right: unset;
            transform: translate(-50%, -50%);
            width: 29.2rem;
            padding: 5rem 3rem;
            gap: 2rem;
            border-radius: 20px;
            img {
                max-width: 180px;
                height: auto;
            }
            p {
                font-size: 1.5rem;
                line-height: 2.2rem;
                width: 23rem;
            }
        }
    }

    .tradicao {
        padding: 5rem 0 0;
        width: 90%;
        margin: 3rem auto 0;
        .tradicaoUp{
            top: 14px;
            right: -7px;
            width: 100px;
            height: auto;
        }
        .tradicaoContent {
            gap: 4rem;
            .tradicaoText {
                padding-left: 3rem;
                padding-right: 3rem;
                gap: 4rem;
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.6rem;
                }
            }
            .tradicaoImage {
                width: 100%;
                aspect-ratio: 317/300;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 0 0 20px 20px;
                }
            }
        }
    }
    
    .escolher {
        padding: 6rem 0rem 0;
        gap: 3rem;
        .escolherTitle{
            h2 {
                font-size: 2.2rem;
                line-height: 2.4rem;
                width: 20rem
            }
        }
        .escolherGrid {
            flex-direction: column;
            gap: 3.5rem;
            .escolherCard {
                display:flex;
                flex-direction: column;
                width: 24rem;
                align-items: center;
                gap: 1.6rem;
                img{
                    height: auto;
                    max-height: 65px;
                    width: auto;
                    align-self: center;
                    justify-self: center;
                }
                .escolherCardText {
                    gap: 1.6rem;
                    h4 {
                        font-size: 1.8rem;
                        text-align: center;
                        margin: auto;
                    }
                    p {
                        text-align: center;
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                    }
                }
            }
        }
    }
    
    .unidades {
        gap: 3rem;
        padding: 4rem 0rem 6rem;
        border-radius: 20px 20px 0 0;
        .unidadesTitle {
            gap: 2rem;
            h2 {                
                font-size: 1.4rem;
            }
            p {
                font-size: 2.2rem;
                line-height: 2.6rem;
                width: 32rem;
            }
        }
        .unidadesContent {
            .unidadesCard {
                max-width: 90%;
                border-radius: 20px;
                img{
                    aspect-ratio: 316/250;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0;
                }
                .unidadesCardText {
                    padding: 4rem 2.4rem;
                    height: auto;
                    min-height: 20rem;
                    background: linear-gradient(180deg, #191A32 0%, #003340 100%);
                    p {
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        width: 100%;
                    }
                    .cardIcons {
                        justify-content: center;
                        gap: 8px;
                        img, svg{
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
                button {
                    padding: 1rem 2.5rem;
                    letter-spacing: 1px;
                    font-size: 1.6rem;
                    top: 277px
                }
            }
        }
    }

    .preFooter {
        aspect-ratio: 36/28;
        .preFooterImage{
            display: none;
        }
        .preFooterMobile{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
        }
        .preFooterText {
            left: 2.2rem;
            max-width: 25rem;
            top: 65%;
            h2 {
                font-size: 2rem;
                line-height: 2.6rem;
            }
        }
    }
}